/* styles.css */

  /* h1 css */

    /* h1 txt centering */
    h1 {
      text-align: center;
    }

  /* h2 css */

    /* h2 txt centering */
    h2 {
      text-align: center;
    }
  
    /* h2 image size */
    #right-menu-image {
      height: 175px;
      width: 175px;
    }

    /* h2 image boarder */
    #right-menu-image {
      border: 5px solid #333;
      border-radius: 50px;
    }


  /* body css */

    /* body color */
    body {
      font-family: "Courier New", Courier, monospace;
      background-color: #333;
      color: #fff;
      margin: 0;
    }


  /* Search Bar styles */

    /* Make the search bar right justified */
    .search-bar {
      float: left;
    }

    /* Add right margin to search bar */
    .search-bar {
      margin-left:15px;
      margin-bottom:10px;
    }

    /* Change the length of the search bar */
    input[type="text"] {
      width: 150px;
      padding: 3px;
    }
    
    /* Search Bar menu styles */
    input[type="text"] {
      border: 4px solid #333;
      border-radius: 70px;
    }
    
    /* Search Bar position */
    input[type="text"] {
      margin-top: 1px;
      margin-bottom: 25px;
    }

  /* Navigation menu styles */

    /* Nav menu left justified blocking */
    nav {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
    }

    /* Nav menu boarder and background color */
    nav {
      border: 20px solid #555;
      background-color: #555;
    }

    /* Nav spacing on the index.html file */
    nav ul {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    /* Nav spacing between all the items in the nav menu in index.html */
    nav li {
      display: block;
      margin-right: 20px;
      margin-bottom: 15px; /* Add space below each list item */
    }

    /* Style the txt within the nav list items to look like buttons */
    nav li a {
      display: inline-block;
      padding: 6px 8px;
      background-color: #333;
      color: #fff;
      text-decoration: none;
      border-radius: 10px;
    }

  /* Change the background color of the nav li buttons on hover */
  nav li a:hover {
    background-color: #777;
  }

