/* End of body css for all pages */

  /* style for all bodies for all pages */
  body {
    background-color: #333;
    font-family: "Georgia";
  }

/* End of body css for all pages */

/* Start of navigation Menu css for all pages */

  /* Navigation Menu css for for all pages */
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; /* keeps the nav menu pushed to the top */
    left: 0; /* keeps the nav menu pushed to the left */
    width: 275px;
    height: 100%;
    background-color: #555;
    text-align: center;
  }

  /* Nav image css in the nav menu for all pages */
  .nav-image {
    width: 150px;
    height: 150px;
    border: solid #333;
    border-radius:12px; /* Rounded corners */
    margin-top: 15px;
    margin-left: 60px;
  }

  /* Nav mgs css in the nav menu for all pages */
  .nav-msg {
    color: #ffffff;
    margin-right: 50px;
  }

  /* Anchors css in the nav menu for all pages */
  .nav-menu a {
    display: block;
    padding: 10px 20px;
    margin: 10px;
    margin-left: 80px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    text-decoration: none; /* Removed the underline */
    border-radius:12px; /* Rounded corners */
    width:70px; /* Set a fixed width for the buttons */
    }

    /* Anchors hover css in the nav menu for all pages */
    .nav-menu a:hover {
      background-color: #424242;
    }

  /* Social Media links css in the nav menu for all pages */
  ul.social-links {
    display: inline;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 60px;
  }


  /* Copyright css in the nav menu for all pages */
  .copyright-msg {
    font-size: 10px;
    color: #ffffff;
    margin-right: 50px;
  }

/* End of navigation Menu css for all pages */
