/* End of body css for all pages */

  /* style for all bodies for all pages */
  body {
    background-color: #333;
    font-family: "Georgia";
    font-size: 16px;
  }

/* End of body css for all pages */

/* Start of navigation Menu css for all pages */

  /* left side menu bar css for all pages */
  .div-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; /* keeps the nav menu pushed to the top */
    left: 0; /* keeps the nav menu pushed to the left */
    width: 275px;
    height: 100%;
    background-color: #555;
  }

  /* Nav search bar css in the nav menu for all pages */
  .search-bar {
    width: 175px;
    height: 30px;
    color: #ffffff;
    background-color: #333;
    border: solid #555;
    border-radius:12px; /* Rounded corners */
    margin-top: 25px;
    margin-left: 50px;
  }

  /* Nav search bar border css in the nav menu for all pages */
  .search-bar {
    border-width: 2px;
  }

  /* Nav search bar hover css in the nav menu for all pages */
  .search-bar:hover {
    border-radius: 50px;
  }

 /* Nav image css in the nav menu for all pages */
 .nav-image {
  width: 150px;
  height: 150px;
  border: solid #333;
  border-radius:12px; /* Rounded corners */
  margin-top: 25px;
  margin-left: 60px;
  }

  /* image hover txt wrap css in the nav menu for all pages */
  .logo-hover-wrap {
    position: relative;
  }
  
  /* image hover txt cap css in the nav menu for all pages */
  .logo-hover-cap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #555;
    color: #ffffff;
    display: none;
    text-align: center;
    width: 175px;
    margin-left: 170px;
    margin-bottom: 110px;
    border-radius: 20px;
    border-color: #333;
    border-style: outset;
  }
  
  /* image hover txt hover css in the nav menu for all pages */
  .logo-hover-wrap:hover .logo-hover-cap {
    display: block;
  }

  /* Nav mgs css in the nav menu for all pages */
  .nav-msg {
    color: #ffffff;
    margin-right: 50px;
    text-align: center;
  }

  /* Navigation links css for for all pages */
  .nav-button {
    display: block;
    padding: 10px 20px;
    margin: 20px;
    margin-left: 70px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    text-decoration: none; /* Removed the underline */
    border-radius:12px; /* Rounded corners */
    width:80px; /* Set a fixed width for the buttons */
  }

  /* Anchors hover css in the nav menu for all pages */
  .nav-button:hover {
    border-radius: 20px;
  }

  /* social media css in the nav menu for all pages */
  .social-links-container {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  }

  /* social media hover css in the nav menu for all pages */
  .social-links :hover {
    padding-top: 1px;
    border-radius: 10px;
  }

  /* Copyright css in the nav menu for all pages */
  .copyright-msg {
    font-size: 10px;
    color: #ffffff;
    margin-right: 50px;
    text-align: left;
    bottom: 0%;
    position: fixed;
  }

/* End of navigation Menu css for all pages */

/* Start of the pull down Menu css for the docs page */
.drop-down-menu {
  display: inline-block;
}

.drop-down-menu .button {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.drop-down-menu .button:hover,
.drop-down-menu .button:focus {
  background-color: #3e8e41;
}

.drop-down-menu .sub-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-down-menu .sub-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-down-menu .sub-menu a:hover {
  background-color: #f1f1f1
}

.drop-down-menu:hover .sub-menu {
  display: block;
}
/* End of the pull down Menu css for the docs page */

/* Start of about me css for all pages */

  /* style for the center of all pages */
  .main-box-style {
    display: flex;
    font-size: 11px;
    background-color: #555;
    border-radius: 20px;
    width: 1550px;
    height: auto;
    margin-left: 300px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  /* style for h1 for the center of all pages */
  .Main-Page-h {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: #000000;
    text-align: center;
  }

/* End of about me css for all pages */

